<div id="touchable" class="flex place-content-center w-full fixed bottom-32">
  <div class="card card-border border-4 bg-base-100 w-2/3 h-72 md:w-1/6 border-<%= @name.gender_color %>">
    <div class="card-body">
      <h1 class="mx-auto card-title text-3xl">
        <%= @name.name %>
      </h1>

      <p class="mx-auto text-4xl text-<%= @name.gender_color %>">
        <%= @name.gender_symbol %>
      </p>

      <div class="card-actions gap-0 justify-space -mx-[var(--card-p,1.5rem)] -mb-[var(--card-p,1.5rem)] text-center text-2xl">
        <%= link_to vote_name_path(@name, decision: "no"), data: { turbo_method: :post }, class: "bg-accent w-1/2 p-5 rounded-bl-xl" do %>
          <svg class="size-8 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.498 15.25H4.372c-1.026 0-1.945-.694-2.054-1.715a12.137 12.137 0 0 1-.068-1.285c0-2.848.992-5.464 2.649-7.521C5.287 4.247 5.886 4 6.504 4h4.016a4.5 4.5 0 0 1 1.423.23l3.114 1.04a4.5 4.5 0 0 0 1.423.23h1.294M7.498 15.25c.618 0 .991.724.725 1.282A7.471 7.471 0 0 0 7.5 19.75 2.25 2.25 0 0 0 9.75 22a.75.75 0 0 0 .75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 0 0 2.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384m-10.253 1.5H9.7m8.075-9.75c.01.05.027.1.05.148.593 1.2.925 2.55.925 3.977 0 1.487-.36 2.89-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398-.306.774-1.086 1.227-1.918 1.227h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 0 0 .303-.54" />
          </svg>
        <% end %>

        <%= link_to vote_name_path(@name, decision: "yes"), data: { turbo_method: :post }, class: "bg-primary w-1/2 p-5 rounded-br-xl" do %>
          <svg class="size-8 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
          </svg>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function() {
    const voteNo = document.getElementById("vote-no");
    const voteYes = document.getElementById("vote-yes");

    function turboPost(element, url) {
      element.querySelector(".card-body").innerHTML = '<span class="loading loading-ring loading-xl place-self-center h-full"></span>';

      fetch(url, {
        method: "POST",
        headers: {
          "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').getAttribute("content"),
        },
      })
      .then(response => {
        if (response.ok) {
          window.location.reload();
        } else {
          throw new Error("Network response was not ok");
        }
      })
    }

    const touchable = document.getElementById("touchable");

    let startX = null;
    let swipeDirection = null;
    let distX = 0

    touchable.addEventListener("touchstart", function(event) {
      const touchObject = event.changedTouches[0];
      startX = touchObject.pageX;

      event.preventDefault();
    }, false);

    touchable.addEventListener("touchmove", function(event) {
      const touchObject = event.changedTouches[0];
      distX = touchObject.pageX - startX;

      swipeDirection = distX > 0 ? "right" : "left";
      touchable.style.setProperty("left", `${distX}px`);
      touchable.style.setProperty("transform", `rotate(${distX / 20}deg)`);

      if (swipeDirection === "left") {
        if (distX < -100) {
          document.querySelector("html").style.setProperty("background", "var(--color-accent)");
          voteNo.classList.remove("hidden");
        } else {
          document.querySelector("html").style.removeProperty("background");
          voteNo.classList.add("hidden");
        }
      } else if (swipeDirection === "right") {
        if (distX > 100) {
          document.querySelector("html").style.setProperty("background", "var(--color-primary)");
          voteYes.classList.remove("hidden");
        } else {
          document.querySelector("html").style.removeProperty("background");
          voteYes.classList.add("hidden");
        }
      }

      event.preventDefault();
    }, false);

    touchable.addEventListener("touchend", function(event) {
      if (swipeDirection === "left" && distX < -100) {
        turboPost(touchable, "<%= vote_name_path(@name, decision: 'no') %>");
      } else if (swipeDirection === "right" && distX > 100) {
        turboPost(touchable, "<%= vote_name_path(@name, decision: 'yes') %>");
      } else {
        touchable.style.removeProperty("left");
        touchable.style.removeProperty("transform");
        document.querySelector("html").style.removeProperty("background");
      }

      startX = null;
      swipeDirection = null;
      dist = 0;
    }, false);
  });
</script>
